@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --white: #ffffff;
    --blue: #003087;
    --orange: #fc6b03;
    --lightorange: #ffa827;
    --lightblue: #ddf2ff;
    --gray: #424242;
    --darkgray: #272727;
    --black: #000c21;
  }

  html {
    @apply font-sans;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
  }
}

html {
  font-family: 'PT Sans', sans-serif;
  color: var(--black);
}

.pt-sans-regular {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
}

h2 {
  color: var(--blue);
  font-size: 36px;
  font-style: normal;
  line-height: 30px;
}

h3 {
  color: var(--blue);
  font-size: 28px;
  line-height: 30px;
  text-transform: capitalize;
}

h4 {
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
}

h5 {
  color: var(--gray);
  font-size: 20px;
  line-height: 22px;
}

p {
  color: var(--blue);
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}
