@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import 'tailwindcss';

@layer base {
  :root {
    --primary: #1a8ec7;
    --primarylight: #43bced;
    --secondary: #f4dd0f;
    --tertiary: #093347;

    --white: #ffffff;
    --offwhite: #f5f7fa;
    --blue: #198fc4;
    --darkblue: #093347;
    --lightblue: #d9eef4;
    --black: #231f20;
  }

  html {
    @apply font-sans;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
}

h2 {
  color: var(--blue);
  font-size: 36px;
  font-style: normal;
  line-height: 30px;
}

h3 {
  color: var(--white);
  text-transform: capitalize;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  color: var(--white);
  font-size: 24px;
  line-height: 28px;
}

h5 {
  color: var(--gray);
  font-size: 20px;
  line-height: 22px;
}

p {
  color: var(--blue);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
  }
}
